header{
  color:red;
  background-color: Black;
  text-align: center;
  font-size: 15px;
  display: block;
}

nav{
color:red;
float:left;
background-color: white;
width:150px;
height:300px;
display:inline-block;
font-size: 15px;
}

body{
  width:800px;
}

section{
color:red; background-color:white;
width:500px;
display:inline-block;
padding:10px;
}

footer{
width:800px;
background-color: black;
color:red;
display: block;
text-align: center;
}

img{
border-radius:8px;
float: right;
}

 {
  color:red;
}
